body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #161616;
    min-height: 400px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D38162;
    border-radius: 50px;
}

ul {
    max-width: 170px;
}
